.grid-node {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 1px solid black;
  margin: 0;
  outline: none;
}

.node-start {
  background: green;
}

.node-end {
  background: red;
}

.node-wall {
  background: black;
}

.node-path {
  
}

.node-visit {
  
}
