.grid-node {
  width: 34px;
  height: 34px;
  padding: 0;
  border: 1px solid black;
  margin: 0;
  outline: none;
  border-radius: 4px;
}

.node-start {
  background: #23F0C7;
  // animation: fill 0.5s;
}

.node-end {
  background: #EF767A;
  // animation: fill 0.5s;
}

.node-wall {
  background: #353535;
  // animation: fill 0.5s;
}

.node-visited {
  background: #6457a662;
  animation: fill 0.5s;
}

.node-path {
  background: #6457A6;
  animation: fill 0.5s;
}

@keyframes fill {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
