
.pathfinder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__grid-row {
    height: 34px;
  }

  &__instructions {
  }

  &__button {
    margin: 10px;
  }
}
